.navbar-nav a
{
	font-family: poopins;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}

.navbar-light .navbar-brand
{
	color: rgb(212, 13, 13);
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link
{
	color: rgb(212, 13, 13);
}

.navbar-light .navbar-nav .nav-link
{
	color: rgb(212, 13, 13);
}

.navbar-nav
{
	text-align: center;
}

.nav-link
{
	padding: .2rem 1rem;
}

.navbar-light .navbar-nav .nav-link:focus ,  .navbar-light .navbar-nav .nav-link:hover
{
	color: black !important;
}

.w-100
{
	height: 100vh;
}

@media only screen and (max-width: 767px)
{
	.navbar-nav.ml-auto
	{
		background: rgba(0,0,0,0,2);
	}
	.navbar-toggler
	{
		padding: 1px 5px;
		font-size: 18px;
		line-height: 0.3;
		background: #fff;
	}
}



.bg
{
	background: url('../Images/6.jpg') no-repeat;
	width: 100%;
	height: 100vh;
	background-size: 100%; 
}

.form-container 
{
	position: absolute;
	top: 20vh;
	background: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 2px 2px 2px 2px #000;
}

@media only screen and (max-width: 678px)
{
	.bg
	{
		background-size: 300%;
	}
}